


.logo-wrap img,
.footer-img img{
	border-bottom:1px solid #8092eb;
}

.list-social li:hover{
	border:1px solid #8092eb;
}

.tooltip-item {
	border: 4px solid #8092eb;
}

.list-social li:hover.icon-soc a,
.list-social-nav li:hover.icon-soc-nav a,
.section-big-header-text h3 span,
.team-wrap .job-position,
.list-social-team li:hover.icon-soc-team a,
.section-header-text h5 span,
.quote-text span,
.pricing-item:hover h6,
.pricing-item.popular h6,
#filter li .current,
#filter li a:hover,
#filter2 li .current,
#filter2 li a:hover,
.hero-text .hero-subtext span,
.mb_YTVPBar,
.curtain-text .arrow-right,
.contact-details p span,
#ajax-form button,
.contact-min-wrap p span,
.blog-post:hover.quote-post p,
.blog-post .arrow-to-post:hover span,
.blog-post h6:hover,
.link-recents a:hover,
.content-comm .name-aut-replay span:hover,
.checkout__close:hover .icon,
.checkout__summary thead th,
.checkout__summary tbody td span,
.checkout__action .icon,
.cd-item-info b a:hover,
.cd-item-info em span,
.shop-item-top:hover h4,
.shop-item-details .price span,
.list-social-nav-onepage li:hover.icon-soc-nav-onepage a {
	color: #8092eb;
}

.section-big-header-text .line-big-header,
.section-header-text .line-header,
.pricing-item a.price-link:hover,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.mb_YTVTime,
.sidebar input:active,
.sidebar input:focus,
.counter-line{
	background:#8092eb;
}

a.scroll-down:hover,
.no-touch .cd-primary-nav a:hover,
#royal_preloader.royal_preloader_progress .royal_preloader_meter,
.cd-vertical-nav a:hover,
#cd-zoom-in,
#cd-zoom-out,
.pro-bar,
.smk_accordion .accordion_in .acc_head:hover,
.smk_accordion .accordion_in.acc_active > .acc_head,
.checkout--active a.checkout__button:hover,
.shop-item-details .button-shop,
.no-touch #cd-vertical-nav a.is-selected .cd-dot,
a.link-from-project:hover{
	background-color:#8092eb;
}

.footer-line{
	border-top: 1px dashed #8092eb;
}
#ajax-form textarea:focus,
#ajax-form input:focus,
#ajax-form textarea:active,
#ajax-form input:active {	
	border-bottom:1px solid #8092eb;
}
.cd-pagination .current {
	/* selected number */
	background-color: #8092eb;
	border-color: #8092eb;
}
.sidebar input:-ms-input-placeholder  {
	color:#8092eb;
}
.sidebar input::-moz-placeholder  {
	color:#8092eb;
}
.sidebar input:-moz-placeholder  {
	color:#8092eb;
}
.sidebar input::-webkit-input-placeholder  {
	color:#8092eb;
}


.link-tag a:hover {
	border:1px solid #ff7807;
	background:#8092eb;
}
.social-footer.dark-footer .list-social li:hover{ 
	border:1px solid #8092eb;
}
.social-footer.dark-footer .list-social li:hover.icon-soc a{ 
	color: #8092eb;
}






















